<div class="col">
    <div class="portlet box  my-bg-green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Quản lí cơ sở dữ liệu
            </div>
            <!--<div class="actions">-->
            <!--<a href="javascript:;" class="btn btn-default btn-sm">-->
            <!--<i class="fa fa-plus"></i> Add </a>-->
            <!--<a href="javascript:;" class="btn btn-default btn-sm">-->
            <!--<i class="fa fa-print"></i> Print </a>-->
            <!--</div>-->
        </div>
        <div class="portlet-body">
            <div class="form-group row">
                <div class="col-xs-2">
                    <button type="button" ng-click="create()" class="btn btn-sm btn-success form-control">
                        <i class="glyphicon glyphicon-plus">
                        </i> Thêm mới
                    </button>
                </div>
                <div class="col-xs-2">
                    <input type="text" data-ng-model="type" class="form-control" placeholder="Type Database">
                </div>
                <div class="col-xs-2">
                    <input type="text" data-ng-model="url" class="form-control" placeholder="URL Database">
                </div>
                <div class="col-xs-2">
                    <input type="text" data-ng-model="schema" class="form-control" placeholder="Schema">
                </div>
                <div class="col-xs-2">
                    <input type="text" data-ng-model="user" class="form-control" placeholder="UserName">
                </div>
                <div class="col-xs-2">
                    <input type="text" data-ng-model="pass" class="form-control" placeholder="PassWord">
                </div>
            </div>
            <div class="table-responsive">
                <table ng-table="xxx" class="table table-condensed table-bordered table-striped" show-filter="true">
                    <tr ng-repeat="x in $data">
                        <td title="'Type Database'" filter="{ typeDB: 'number'}" sortable="'typeDB'"
                            data-ng-bind="x.typeDB"></td>
                        <td title="'URL'" filter="{ url: 'text'}" sortable="'url'"
                            data-ng-bind="x.url"></td>
                        <td title="'Database/Schema'" filter="{ databaseName: 'text'}" sortable="'databaseName'"
                            data-ng-bind="x.databaseName"></td>
                        <td title="'Username'" filter="{ userName: 'text'}" sortable="'userName'"
                            data-ng-bind="x.userName"></td>
                        <td title="'Password'" filter="{ passWord: 'text'}" sortable="'passWord'"
                            data-ng-bind="x.passWord"></td>
                        <td title="''" style="white-space: nowrap">
                            <div class="buttons">
                                <button class="btn btn-sm btn-success" ng-click="setDB(x)" title="Sử dụng database">
                                    <i class="glyphicon glyphicon-cloud-upload"></i>
                                </button>
                                <button class="btn btn-sm btn-info" ng-click="show(x)" title="Sửa">
                                    <i class="glyphicon glyphicon-wrench"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-click="delete(x)" title="Xóa">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- main header -->
</div>
